HELP.md
target/
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
node_modules
/.mvn/wrapper/maven-wrapper.jar
/out/production/.mvn/maven-wrapper.jar
/.mvn/wrapper/maven-wrapper.properties
/out/production/.mvn/maven-wrapper.properties
/out/production/.mvn/MavenWrapperDownloader$1.class
/out/production/.mvn/MavenWrapperDownloader.class
/.mvn/wrapper/MavenWrapperDownloader.java
