* {


}

.vaadin-grid-cell-1{

}

.myclass{




}

v-table-row{
color: red  !important;
}
grid-cell-content{

}

.v-table-table th,
.v-table-table td{
    height: 20px !important;
    min-height: 20px !important;
}


.smallgrid .v-grid-body .v-grid-cell {
    line-height: 18px;     // adjust to your needs
    font-size: 10px;       // adjust to your needs
  }


.rowheaders td:first-child {
    background-color: gray;
  }

vaadin-text-field, vaadin-combo-box {
  /*border: 10px solid gray;*/
  width: 100%;
}

body{

}


vaadin-grid{

}

host:[part~="cell"]{

}

tr{
    border: 5px solid black;
}

/* BUTTON ROW */
.vaadin-button-row vaadin-button{
    margin-right: 0px;
    margin-left: 0px;
    border-radius: 0px;
    border-right: 1px solid var(--lumo-base-color);
}

.vaadin-button-row vaadin-button:first-child {
    border-radius: 20px 0px 0px 20px;
}
.vaadin-button-row vaadin-button:last-child{
    border-radius: 0px 20px 20px 0px;
    border-right: 0px solid gray;
}



label span {
    background: black !important;
}

:host([indeterminate]) [part="checkbox"], :host([checked]) [part="checkbox"] {
    background-color: black !important;
   }

.mycheckbox label{
    border: 5px solid red !important;
    background-color: red !important;
}

.uncheckbox{
    font-size: 5px important;
}